body {
    margin: -5px; 
}

.header {
    display: flex; 
    justify-content: space-around; 
    color: white; 
    padding: 40px; 
    background-color: #1F2937; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}


.logo{
    display: flex; 

}

.logo-image {
    height: 50px; 
    width: 50px; 
}


.right-links,
.text-two {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px; 
    color: #E5E7EB; 
}

.right-links {
    display: flex; 
    gap: 19px; 
}

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: powderblue;
}

.body-one {
    background-color: #1F2937;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 40px; 
    gap: 60px;
    

}

.body-one-left {
    display: flex; 
    flex-direction: column; 
    max-width: 300px; 
    
}


.body-one-right {
    display: flex; 
}

.text-one {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px; 
    font-weight: 900; 
    color: white; 
}

.text-one,
.text-two {
    margin-bottom: 15px; 
}

.sign-up {
    width: 75px;
    height: 25px; 
    
    border: 2px solid white; 
    background-color: #3882f6;
    color: white; 
    border-radius: 5px; 
}

.sign-up:hover {
    background-color: whitesmoke; 
    color: #3882f6;
    cursor: pointer; 
}


img {
    height: 250px;
    width: 375px; 
}


.body-two-title {  
    font-size: 36px; 
    font-weight: 900; 
    text-align: center; 
    padding: 40px; 
    
}

.body-two {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
   
}

.info {
    max-width: 100px; 
    text-align: center; 
    padding-bottom: 45px;
   
}

.travel {
    width: 75px; 
    height: 75px; 
}

.travel:hover {
    box-shadow: 2px 2px 10px 5px silver;
    border-radius: 5px;
     
}


.travel-info-text {
    padding: 10px; 
}

.testimonial {
    background-color: #E5E7EB; 
    font-size: 26px; 
    padding: 70px; 
    font-style: italic;
    color: #1F2937; 

}

.quote {
    
    margin: auto; 
    width: 600px; 
    height: 200px; 
   
}


.name {
    display: flex; 
    justify-content: flex-end; 
}


.newsletter {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 50px; 
    
}

.newsletter-box {
    background-color: #3882F6;
    color: white; 
    border-radius: 10px; 
    padding: 15px; 
    width: 700px; 
    height: 75px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 85px; 
   
}

.news-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: left; 
}

.newsletter-title {
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.footer {
    font-size: 15px; 
    padding: 20px; 
    background-color: #1F2937; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center; 
}